{% extends "base.html" %}

{% block content %}
<h1>Chatbot</h1>
<a href="{{ url_for('logout') }}">Logout</a>
<div id="chat-box">
    <div id="chat-log"></div>
    <form id="chat-form">
        <input type="text" id="user-input" autocomplete="off" placeholder="Type a message..." required>
        <button type="submit">Send</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    $(document).ready(function() {
        const socket = io();

        $('#chat-form').on('submit', function(event) {
            event.preventDefault();
            const userInput = $('#user-input').val();
            $('#chat-log').append('<div class="user-message">' + userInput + '</div>');
            $('#user-input').val('');

            socket.emit('user_message', { message: userInput });
        });

        socket.on('bot_response', function(data) {
            $('#chat-log').append('<div class="bot-response">' + data.response + '</div>');
        });
    });
</script>
{% endblock %}
